/ManagerSell-Master/ManagerBill-Master/Lab11-ejb/target/
/ManagerSell-Master/ManagerBill-Master/ManagerBill-Master-ejb/target/
/ManagerSell-Master/ManageSell-Master/ManageSell-Master-ejb/target/
/ManagerSell-Master/ManageSell-Master/ManageSell-Master-web/target/
/ManagerSell-Master/ManageSell-Master/ManageSell-Master-ear/target/
/ManagerSell-Master/Lab12/Lab12-ejb/target/
/SaleManagerProject/SaleManagerProject/SaleManagerProject-ejb/target/
/SaleManagerProject/SaleManagerProject/SaleManagerProject-web/target/
/SaleManagerProject/SaleManagerProject/SaleManagerProject-ear/target/
/SaleManager/SaleManager/SaleManager/SaleManagerClient/nbproject/private/
/SaleManager/SaleManager/SaleManager/SaleManagerClient/build/
/SaleManager/SaleManager/SaleManager/SaleManagerClient/dist/